:root {
  --banner-height: 1.75rem;
  --nav-bar-height: 3rem;
  --gray: #4c4c4c;
}

/* Animations are coming from https://animate.style/ */
/* Animation tweaks below */
.animate__animated.animate__fadeIn {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.animate__animated.animate__fadeInUp {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.animate__animated.animate__zoomIn {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
}

/* Global Styles */
h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

/* .__container {
	width: 100%;
	max-width: 1400px;
	padding: 0 1rem;
} */
/* Header */
header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.banner {
  width: 100%;
  height: var(--banner-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  padding: 0.25rem 0;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commonwealth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.commonwealth-container img {
  max-width: 1.5rem;
}

.banner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.banner-links a {
  color: var(--gray);
}

/* Nav bar */
.nav-bar {
  width: 100%;
  height: var(--nav-bar-height);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-bar.solid {
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar.solid .website-logo h2 {
  color: var(--gray);
}

.nav-bar.solid .nav-link {
  color: var(--gray);
  position: relative;
}

.nav-bar.solid .nav-link:after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100%;
  height: 2.5px;
  background-color: var(--gray);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border-radius: 3px;
}

.nav-bar.solid .nav-link:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.nav-bar.solid .nav-link.active-link::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.nav-bar.solid .hamburger > * {
  background-color: var(--gray);
}

.website-logo h2 {
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: inherit;
  transition: inherit;
}

.nav-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links li {
  display: inline-block;
}

.nav-links .sub-links {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #858585;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-link.active-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.hamburger {
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  z-index: 15;
  display: none;
}

.top-line,
.middle-line,
.bottom-line {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  content: '';
  background-color: #fff;
  left: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top-line {
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.middle-line {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bottom-line {
  top: 75%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.hamburger.active .top-line {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active .middle-line {
  opacity: 0;
}

.hamburger.active .bottom-line {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/* General Section Styling */
section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-margin-top: var(--banner-height);
  padding-top: var(--nav-bar-height);
  background-color: #fff;
  position: relative;
  z-index: 2;
}

section .container {
  padding: 1rem;
}

.section-title {
  font-size: 2rem;
}

/* Home Section */
#home {
  min-height: calc(100vh - var(--banner-height));
  margin-top: var(--banner-height);
  scroll-margin-top: var(--banner-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#home .background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./assets/images/home-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-hero {
  width: 100%;
  height: calc(100vh - var(--banner-height));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home-hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.home-hero-content h1 {
  font-size: 5rem;
}

.home-hero-content p {
  font-size: 1.5rem;
}

.chevron {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10rem;
}

.chevron.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

aside {
  width: 100%;
  min-height: 50vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 188, 32, 0.5);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

aside .container {
  height: 100%;
  padding: 2rem 1rem;
}

.aside-content {
  width: 100%;
  max-width: 625px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  text-align: center;
}

.aside-content h2 {
  line-height: 3rem;
}

.aside-content .button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 40px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: var(--gray);
}

.aside-content .button:after {
  position: absolute;
  content: '';
  background-color: var(--gray);
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 50%;
}

.aside-content .button:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.aside-content .button p {
  position: relative;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.aside-content .button:hover p {
  color: #fff;
}

#projects {
  overflow-x: hidden;
  height: auto;
  min-height: auto;
  padding: 3rem 0;
}

#projects > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.carousel-wrapper.container {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding: 0;
}

.carousel-controls-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
}

.carousel-controls-info {
  padding: 1rem 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
  z-index: 5;
}

.carousel-controls-info h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0 2rem 0;
}

.carousel-controls-info a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #ffbc20;
  color: #000;
  border-radius: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-controls-info a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.carousel-controls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  position: relative;
  z-index: 5;
}

.carousel-controls .control-btn {
  padding: 1rem;
  width: 50px;
  height: 50px;
  background-color: #ffbc20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-controls .control-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.carousel-controls .control-btn i {
  font-size: 1.5rem;
}

.carousel-controls .carousel-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-controls .carousel-counter p {
  font-size: 1.2rem;
}

.carousel {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.carousel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 300px;
  height: 100%;
  min-height: 400px;
  background-color: #4c4c4c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  padding: 1rem;
  text-decoration: none;
}

.carousel-card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

.carousel-card:hover .overlay {
  opacity: 1;
}

.carousel-card.currentCard {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

.carousel-card.currentCard .overlay {
  opacity: 1;
}

.carousel-card.scale-card {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.carousel-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 2;
}

.carousel-card img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-card .card-content {
  position: relative;
  z-index: 3;
  color: #fff;
}

footer {
  width: 100%;
  min-height: 25vh;
  background-color: #4c4c4c;
  position: relative;
  z-index: 2;
}

/* Media Queries */
/* Extra big screen devices (1200px and above) */
/* Big screen devices (889px and above) */
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .nav-bar.solid {
    background-color: red;
  }
  .nav-links {
    position: fixed;
    z-index: 10;
    top: var(--banner-height);
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - var(--banner-height));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav-links.inactive {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav-link {
    font-size: 2rem;
    color: #fff;
    position: relative;
  }
  .nav-link::after {
    height: 2.5px;
    width: 100%;
    position: absolute;
    content: '';
    bottom: -0.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #fff;
  }
  .nav-link.active-link::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
  .hamburger {
    display: inline-block;
  }
  .nav-bar.solid .nav-link {
    color: #fff;
  }
  .nav-bar.solid .nav-link.active-link::after {
    background-color: #fff;
  }
  .nav-bar.solid .hamburger.active > * {
    background-color: #fff;
  }
  .carousel-wrapper.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .carousel-card {
    min-height: 450px;
    min-width: 300px;
  }
  .carousel-controls-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
  }
  .carousel-controls {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 650px) {
  .nav-bar.solid {
    background-color: green;
  }
  section h1 {
    font-size: 2rem;
  }
  .banner .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-links {
    display: none;
  }
  .nav-links .sub-links {
    display: inline-block;
    margin-top: 8rem;
  }
  .nav-links .sub-links div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .nav-links .sub-links div a {
    color: #fff;
  }
  .home-hero-content h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .home-hero-content p {
    font-size: 1rem;
    text-align: center;
  }
  .carousel {
    left: 34%;
  }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .carousel {
    left: 32%;
  }
}

@media only screen and (max-width: 490px) {
  .carousel {
    left: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .carousel {
    left: 8%;
  }
}

/* Animations */
@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=styles.css.map */